body
    margin: 0

.main-section
    font-size: 8px
    text-align: justify

.diaries
    text-decoration-style: none
    list-style-type: none
    li
        margin-top: 20px
        font-size: 1.4rem
        a
            color: black
            text-decoration: none